html{
    background-color: #0E051D;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: white;
}
.body{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 120px;
    margin: 0;
    height: 100vh;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    margin: 0 -120px;
}
.logo{
    font-size: 28px;
    font-weight: bold;
}
.right-links{
    display: flex;
    gap: 24px
}

.first-slide,
.second-slide,
.third-slide,
.fourth-slide{
    padding-bottom: 5%;
    max-height: 700px;
}
.h1, .h2, .credit-quote, .sign-up-button, .cta-title
{
    font-weight: bold;
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}


.first-slide{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -120px;
}
.main-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    max-width: 400px;
}
.h1{
    font-size: 42px;
}
.title-subtext{
    color: rgb(119, 119, 119);
    font-size: 14px;
}
.main-photo-container{
    display: flex;
    align-items: center;
    margin: 16px 0;
}
.main-photo{
    min-width: 400px;
    min-height: 250px;
    background-color: #5DD9C1;
    color: black;
    text-align: center;
}
.sign-up-button{
    background-color: #ACFCD9;
    color: black;
    border: none;
    padding: 10px 32px;
    border-radius: 5px;
    font-size: 18px;
}


.second-slide{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ACFCD9;
    color: black;
    padding: 2% 5% 2% 5%;
    margin: 0 -120px;
    justify-content: space-around;
}
.h2{
    font-size: 32px;
    padding-bottom: 6%;
}
.illustration-showcase{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10%;
}
.illustration-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
}
.illustration{
    background-color: #0E051D;
    border-radius: 16px;
    min-width: 150px;
    min-height: 150px;
    max-width: 150px;
    max-height: 150px;
    color: white;
}
.illustration-description{
    max-width: 150px;
    text-wrap: stable;
    font-size: 14px;
}

.third-slide{
    background-color: #5DD9C1;
    color: black;
    margin: 0 -120px;
    padding: 5%;
    display: flex;
    flex-direction: column;

}
.quote{
    font-size: 32px;
    font-style: italic;
    padding: 32px 10% 0 10%;
    text-wrap: pretty;
}
.credit-quote{
    font-size: 28px;
    align-self: flex-end;
    padding: 0 10% 5% 0;
}

.fourth-slide{
    background-color: #ACFCD9;
    margin: 0 -120px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 10%;
}
.banner{
    background-color: #665687;
    display: flex;
    padding: 5% 10%;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    width: 750px;
}
.call-to-acttion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cta-title{
    font-size: 32px;
}
.cta-description{
    
    color:rgb(172, 172, 172);
}
.dark-border{
    border: #0E051D;
    border-style: solid;
    border-width: 4px;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0 -120px;
    margin-top: auto;
    padding: 32px;
    background-color:#0E051D;
}

.colors{
    color: #0E051D;
    color: #665687;
    color: #B084CC;
    color: #ACFCD9;
    color: #5DD9C1;
}